.container {
  display: flex;
  height: 100vh;
  max-width: 1200px;
  min-width: 1200px;
}

.control-panel {
  flex: 0 0 4.5%; 
  max-width: 60px;
  background-color: #333;
  color: #fff;
  z-index: 10;
}

.linked-list {
  flex: 0 0 80%; /* Takes the rest of the space */
  max-width: 1200px;
  background-color: #f0f0f0; /* Light background */
  z-index: 1;
}

.DEBUG {
  flex: 0 0 30%;
  min-width: 500px;
  background-color: #ccc; /* Change the background color to make it visible */
  z-index: 1; /* Adjust the z-index if necessary */
  overflow-y: auto;
}